  @model Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<br />
<br />
<form asp-action="Create" >
<form class="form-group">
    <label class="col-form-label" asp-for="Code"></label>
    <input asp-for="Code" class="form-control"/>
    <span asp-validation-for="Code" class=" text-Danger"></span>

   
    
</form>

<form class="form-group">
    

    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class=" text-Danger"></span>

  
</form>

<form class="form-group">
   

    <label class="col-form-label" asp-for="DateOfCereation"></label>
    <input asp-for="DateOfCereation" class="form-control" />

</form>

<input type="submit" value="Create" class="btn btn-primary"/>
<a asp-action="Index" class="btn btn-light">Back To List</a>

</form>

